.container {
    position: relative;
}

.container .recipe {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.container h4 {
    margin: 20px 0 16px;
}

.container ol {
    list-style: inside decimal;
    padding-left: 0;
    max-width: 600px;
}

.container img {
    border-radius: 10px;
}

.container a {
    text-decoration: none;
    color: rgb(122, 122, 255);
    transition: color 0.15s;
}

.container a:hover {
    color: rgb(97, 97, 255);
}

.container .star {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 60px;
    right: 4px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    transition: background-color 0.15s;
    cursor: pointer;
}
.container .star:hover {
    background-color: rgba(255, 255, 255, 0.6);
}
.container .star:active {
    background-color: rgba(255, 255, 255, 0.3);
}

.container .starYellow {
    color: rgb(255, 238, 0);
    width: 39px;
    height: 39px;
    padding: 5.5px;
}
