.container {
    background-color: #222;
    display: grid;
    grid-template-columns: 170px 1fr 170px;
    margin: 0;
}

.container > div,
.container > h1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.container h1 {
    font-size: 40px;
    text-shadow:
        3px 0 rgba(98, 0, 255, 0.25),
        -3px 0 rgba(255, 0, 0, 0.25);
}

.container button {
    background-color: #333;
    color: white;
    border: 1px solid #5a5a5a;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.15s;
}
.container button:hover {
    background-color: #3c3c3c;
}

.container .img {
    border: 6px solid rgb(22, 22, 22);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
