.container button {
    background-color: #333;
    color: white;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid rgb(174, 174, 174);
    border-radius: 4px;
    transition: background-color 0.15s;
}
.container button:hover {
    background-color: #3e3e3e;
}
.container button:active {
    background-color: #2f2f2f;
}

.container .favCounter {
    background-color: green;
    width: 16px;
    height: 15px;
    border-radius: 50%;
    padding-top: 1px;
    display: inline-block;
}
