body {
    background-color: #333;
    color: white;
    font-family: sans-serif;
}

body > div {
    border: 1px solid rgb(158, 158, 158);
    background-color: #222;
    border-radius: 6px;
    padding: 10px;
    margin: 10px 6px;
}
